@import "tailwindcss";

:root {
  --background: #faf3e7;
  --foreground: #1a323f;
  --accent: #ea5c5c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}
